*.o
*.hi
*.zip
*.tar.gz
*.aux
*.lof
*.log
*.toc
*.out
*.synctex.gz
exploit11.sh
casper1.password

*.aux
*.lof
*.log
*.toc
*.out
*.synctex.gz
*.zip
*.tar.gz
*.class
*.jar
target/
project/
*.json
*.history
*.css
*.xml
*.xsl
*.properties
*.temp
*out
